p{
    color: black;
}

.conan{
    background-color:rgb(255, 225, 255) ;
}

a.jefflink{
    padding: 0px 20px;
    margin: 0px 0px 0px 20px;
    border-radius: 0px 50px 0px 50px;
    
}

a.jefflink:hover{
    background-color: rgb(12, 194, 48);
    color: black;
}

.jeffdiv{
    background-color: rgb(2, 86, 89) ;
    border: 2px solid rgb(24, 59, 60);
    padding: 30px;  
    border-radius: 10px;
    width: 60%;
}

h4.jeffsmall{
    color: rgb(3, 176, 174);
    font-size: 20px;
}

.jeffcrop{
    overflow: hidden;
    margin:10px 5px;
    height: 500px;
    object-fit: cover;
    border-radius: 50px;
}

.jeffcallmebg{
    background-image: url("../assets/img/bg2.png");
    background-size: cover ;
    background-repeat: no-repeat;
}

.jeffserif{
     font-family: "Noto Serif TC", serif;
}

.jeffhi{
    color: rgb(46, 112, 85);
    font-weight: 900;
}

.jeff-white{
    color: rgb(216, 208, 208); 
}

.jeff-green{
    color: rgb(28, 113, 30);
}

.jeff-black{
    color: black;
}

.jeffback{
    background-image: url("../assets/img/background4.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
}

